{% extends 'content_base.html.twig' %}

{% block title %}Manage Comments{% endblock %}

{% block content_class %}{{ parent() }} show-article-container-border-green{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Comments</h1>
        </div>
    </div>
{% endblock %}
