{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Launch a new Article! 🚀</h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Create!'
    }) }}
{% endblock %}
