{% extends 'content_base.html.twig' %}

{% block title %}Weather in Space!{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>The Weather!
        </div>
    </div>
{% endblock %}
