{% extends 'content_base.html.twig' %}

{% block title %}Weather in Space!{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Universal Forecast</h1>
            <p class="text-center"><em>Your Trusted Guide to the Universe's Weather</em></p>
            <h2 class="weather-header">Near Earth</h2>
            <p class="weather-description">So you're looking to visit Earth, excellent! The planet will be enjoying warmer than normal temperatures, so be sure to bring along your sunscreen. Temperatures in near Earth orbit today will peak at 50 degrees Fahrenheit (10 Celcius).</p>
            <h2 class="weather-header">Oort Cloud</h2>
            <p class="weather-description">Today we're experiencing breezier than normal weather out in the cloud. Which means that it will be a bumpier than usual ride if you're passing through. Prepare to set shields maximum to minimize damage and a trip to the repair shop.</p>
            <h2 class="weather-header">Deep Space</h2>
            <p class="weather-description">There's no way to deny it. It is going to be very cold in deep space today. Be sure to pack your warmest coat, hat, mittens and boots. I would recommend minimizing your time outside of the ship today if possible. Keep your mittens dry friends!</p>
        </div>
    </div>
{% endblock %}
